:root {
  --color-primary: #7366ff;
  --color-secondary: #f73164;

  --color-primary-darker: #4f3fff;
  --color-primary-lighter: #a299ff;

  --color-secondary-darker: #ec0944;
  --color-secondary-lighter: #fa7b9b;

  --color-info: #38B2AC;
  --color-success: #48BB78;
  --color-warning: #ECC94B;
  --color-danger: #F56565;

  --body-bg: #f8f8f8;
  --body-color: #2b2b2b;

  --bg-default: #fff;


  --gradient-primary: linear-gradient(90deg, var(--color-primary) 0%, #a26cf8 100%)
}
